/*
wood brown: A89F68;
army green: 41521F;
*/
*{
}
.primera-seccion{
	display: center;
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#marca{
	font-family: 'Crimson Text', serif
	color: white;
	font-size: 20px;
	margin-left: 50px;
}
a{
	color: white;
	font-size: 20px;
	margin-right: 50px;
	
}
span{
	background-color: blue;
}
